@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #FEFDED;
    --cor-secundaria: #FA7070;
    --cor-terciaria: #FB9AD1;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}
.barra__navegacao{
    background-color: var(--cor-secundaria);
    margin: 0%;
    padding: 0%;
    color:#ffffff;
}

.barra__navegacao__nav {
    display: flex;
    /* background-color: var(--cor-secundaria); */
    gap: 80px;
    /* align-items: center; */
    /* align-items: baseline; */
    color: #ffffff;

}
.barra__navegacao__nav__a {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.secaoprincipal{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secaoprincipal__texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 2.25rem;
    gap: 40px;
    color: var(--cor-secundaria);

}
.secaoprincipal__texto__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    text-align: center;
}

.secaoprincipal__texto__carta{
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding: 5% 15%;
}

.titulo__destaque {
    color: #B80000;
}



.perfil__img{
    /* display: block inline; */
    flex-wrap: wrap;
    padding: 5%;
    margin: 0%;
    height: 420px;
    width: auto;
    border-radius: 5%;
}




.rodape {
    padding: 24px;
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400px;
}
.videoprincipal {
    height: 520px;
    width: auto;
}
.barra__navegacao{
    padding: 2% 0% 0% 15%;
}
.secaoprincipal{
    display: flex;

}