@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #FEFDED;
    --cor-secundaria: #FA7070;
    --cor-terciaria: #FB9AD1;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}
.barra__navegacao{
    background-color: var(--cor-secundaria);
    margin: 0%;
    padding: 0%;
    color:#ffffff;
}

.barra__navegacao__nav {
    display: flex;
    /* background-color: var(--cor-secundaria); */
    gap: 80px;
    /* align-items: center; */
    /* align-items: baseline; */
    color: #ffffff;

}
.barra__navegacao__nav__a {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
}

.secaoprincipal{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secaoprincipal__texto{
    width: 615px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    gap: 40px;
    color: var(--cor-secundaria);

}
.secaoprincipal__texto__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    text-align: center;
}

.secaoprincipal__texto__carta{
    font-size: 24px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding: 5% 15%;
}

.titulo__destaque {
    color: #B80000;
}
.perfil__img{
    display: inline-block;
    height: 320px;
    width: auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 2% 2% 2% 2%;
    position: relative;
}
.rodape {
    padding: 24px;
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400px;
}

.videoprincipal {
    height: 520px;
    width: auto;
}
.barra__navegacao{
    padding: 2% 0% 0% 15%;
}
.secaoprincipal{
    display: flex;

}

@media screen and (max-width: 850px) {
    .secaoprincipal {
        display: block;
    }
    .barra__navegacao{
        display:block;
        
        padding: 5% 15%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .secaoprincipal__texto{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .barra__navegacao__nav {
        display: flex;
        flex-direction: column;
        gap: 32px;   
        position: relative;
                    
    }
    body{
        font-size: 16px;
    }
    .barra__navegacao__nav__a {
        font-family: var(--fonte-secundaria);
        font-size: 2em;
        font-weight: 600;
        color: #ffffff;
        text-decoration: none;
    
    }
    .secaoprincipal__texto__titulo{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        gap: 24px;
        font-size: 2em;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .secaoprincipal__texto__carta{
        display: block;
        position: relative;
        top: 0;
        left: 0;
        
        font-size: 2em;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .galeria__fotos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }
    
    .perfil__img{
        padding: 2% 2% 2% 2%;
        justify-content: center;
    }
}